{# buglist/buglist_detail.html #}
{% extends 'buglists/_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Bug Detail | {{ block.super }}{% endblock title %}

{% block content %}

    <ul class="breadcrumb">
        {% block bar %}{{ block.super }}
            <li class="active">{{ object.content }}</li>
        {% endblock bar %}
    </ul>

    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{% url 'buglist_edit' pk=object.pk %}"><i class="icon-edit icon-white"></i>Edit</a>
        <h1>{{ object.content }}</h1>
        {% if object.status == "OPEN" %}
            <span class="label label-danger">#{{ object.id }} open</span>
        {% elif object.status == "CLOSE" %}
            <span class="label label-success">#{{ object.id }} close</span>
        {% endif %}
        <span class="label label-info">{{ object.station }}</span>
    </div>

    <div class="row">
        <blockquote>
            <div class="main">
                <p>{{ object.content }}</p>
                {% for station in object.menu_items_station.all %}
                    <code>{{ station.stationid }}</code>
                    {% if station.status == "OPEN" %}
                        <span class="label label-danger">open</span>
                    {% elif station.status == "CLOSE" %}
                        <span class="label label-success">close</span>
                    {% endif %}<br>
                {% endfor %}<br>
                <footer>Owner：<cite title="Source Title">{{ object.owner }}, {{ object.created_at }}</cite></footer><br>
            </div>
            
            <legend>Timeline</legend>
            <!-- <div class="form-trackers">
                <a class="btn btn-primary pull-right" href="{% url 'buglist_tracker' %}"><i class="icon-edit icon-white"></i>進度更新</a>
            </div> -->

            <div class="sub">
                {% for item in object.menu_items_tracker.all %}
                <blockquote>
                    <p>#{{ item.id }}, {{ item.message }}</p>
                    <footer>Owner：<cite title="Source Title">{{ item.owner }}, {{ item.created_at }}</cite></footer>
                </blockquote>
                {% endfor %}
            </div>
        </blockquote>

        <div class="form-trackers">
            {% crispy event_form %}
        </div>

    </div>

{% endblock content %}