{# buglists/buglist_tracker.html #}
{% extends 'buglists/_base.html' %}
{% load staticfiles crispy_forms_tags %}
{% block title %}Buglist Tracker | {{ block.super }}{% endblock title %}
{% block link %}{{ block.super }}
    <style type="text/css">
    .errorlist {
        list-style: none;
        color: #B94A48;
        margin: 0px 0px 9px 0px;
        padding: 0px;
    }
    </style>
{% endblock link %}

{% block js %}{{ block.super }}
{% endblock js %}

{% block content %}
    <ul class="breadcrumb">
        {% block bar %}{{ block.super }}
            {% if object.title %}
                <li class="active">{{ object.title }}</li>
            {% else %}
                <li class="active">Bug Tracker</li>
            {% endif %}
        {% endblock bar %}
    </ul>
    <form action="." method="post">
        {% csrf_token %}
        <legend>進度更新</legend>
        <div class="Faship">
        {{ form|crispy }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <hr></hr>
    </form>
{% endblock content %}